#root {
  
 
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.btnPrime{
  background-color: #b91817;
}

/**NavBar**/
.boxSearch{
  margin-top: 40px;
    position: absolute;
    width: 350px;
    z-index: 1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    max-height: 150px;
    overflow-y: auto;
  }
  .iconCart{
    background-color: #b91817;
  
  }
  .resumenCarrito {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  /**
    .tabPages{
    background-color: #e63e11;
  }
**/


/**About*/
.about-title {
  color: #333;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.img-main {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.text-about{
  margin-top: 25px;
    padding: 76px 38px 0px 74px;
    border: 2px solid #e5e5e5;
    border-radius: 10px;
    margin-left: -65px;
    position: relative;
    z-index: -1;
    margin-right: 6px;
    height: 350px;
}

.text-about h3{
  font-size: 20px;
    font-weight: 500;
    color: #2d2d2d;
}

.text-about p{
  color: #919191;;
}

.text-about span{
  font-weight: bold;
    color: #484848;
}

.box-about{

  height: 600px;
}


.cardAbout h3{ 
     font-size: 20px;
    font-weight: 500;
    color: #2d2d2d;
    font-family: inherit;
    font-size: 100%;

 
  }
  .cardAbout p{
    margin-top: 0;
    margin-bottom: 1rem;
    color: #919191;;
  }
  
  .user-card {
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
  }
  
  .user-card:hover {
    box-shadow: 0px 4px 8px rgba(255, 102, 0, 0.692);
  }
  
  .user-image {
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .user-image img {
    width: 100%;
    height: 100%;
    object-fit: over;
    border-radius: 10px;
  }
  
  .user-card .card-body {
    padding: 16px;
  }
  
  .user-card .card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .user-card .card-text {
    font-size: 14px;
    color: #666666;
  }
  

  .carousel .carousel-inner {
  overflow: visible !important;
}

.carousel-user-image {
  width: 80px; 
  height: 80px;
  border-radius: 50%;
  position: absolute;
  top: -40px; 
  left: 50%;
  transform: translateX(-50%); 
  z-index: 2; 
  margin: 0 auto; 
}

/**Shop**/
.product-card {
  width: 18rem;
  margin-bottom: 1.5rem;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-card-image {
  height: 200px;
  object-fit: cover;
  border-radius: 4px 4px 0 0;
}

.product-card-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.product-card-description {
  color: #666;
  margin-bottom: 1rem;
}

.product-card-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
}

.product-card-rating {
  display: flex;
  align-items: center;
}

.product-card-rating-text {
  font-size: 0.9rem;
  color: #999;
  margin-right: 0.5rem;
}

.product-card-rating-value {
  font-weight: bold;
}

.product-card-price {
  color: #f28b00;
  font-weight: 500;
  font-size: 22px;

}

.product-card-button {
  background-color: #b91817;
  color: #b91817;
  width: 100%;
}


/**ProductDetail**/
.product-detail {
  margin: 20px;
  
}

.product-image {
  height: 300px;
  object-fit: cover;
}

.product-title {
  font-size: 24px;
  font-weight: bold;
}

.product-description {
  color: #555;
}

.product-colors {
  margin-top: 10px;
}

.product-color {
  display: inline-block;
  padding: 2px 8px;
  margin-right: 5px;
  background-color: #ccc;
  color: #fff;
}

.product-price {
  margin-top: 10px;
}

.product-price-value {
  font-weight: bold;
}

.product-button {
  margin-top: 10px;
}

.product-image-col {
  display: flex;
  align-items: center;
}


/**Carrito*/

.iconCart {
  position: relative;
}


.iconCart span {
  position: absolute;
  top: -8px;
  right: -8px;
  font-size: 12px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #dc3545;
  color: #fff;
}


.resumenCarrito {
  
  top: 40px;
  right: 0;
  width: 400px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.resumenCarrito h4 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}


.productoCarrito {
  display: flex;
  align-items: center;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 5px;
}

.productoCarrito img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.productoCarrito p {
  margin: 0;
  font-size: 14px;
  flex: 1;
}


.accionesCarrito {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.deleteIcon {
  cursor: pointer;
  color: #ff0000;
  font-size: 1.2rem;
  transition: color 0.3s ease-in-out;
}

.deleteIcon:hover {
  color: #c00000;
}

/**TableProductManaget**/
